*~
#*
.#*
*.obj
*.png
*.msh
*~
*.swp
*/postProcessing/
*/processor*/
*/*.pbs.*
*.gz
*/constant/polyMesh/
[1-9]*
*.[1-9]*
*/*/log.pisoFoam

# latex related
*.xml
*.pdf
*.tex~
*.aux
*.tex~
*.out
*.lot
*.aux
*.lof
*.log
*.toc
_region_*
*#

# icem
*.msh
*.uns
*.uns.bak

# back up files
*.zip

# ps
*.psd