##

*.obj
*.swp


## mesh

processor*
polyMesh


## post process

*.dat


## emacs

*~
.#*
*#


## latex

*.xml
*.aux
*.out
*.lot
*.aux
*.lof
*.log
*.toc
_region_*


## icem
*.msh
*.uns
*.uns.bak


## back up
*.tar
*.zip
*.gz